modules = ["nodejs-24", "postgresql-16", "python-3.12"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 22934
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CARD_API_URL = "https://b00add8b-5a2b-4894-978e-68a481223c28-00-1nmhdywwds88i.pike.replit.dev/api/card/generate?type=teacher&institution=smkn1ngawi"
GITHUB_USERNAME = "gitalexisdev"
